 <ion-checkbox  ng-checked="created.model=='5 Miles'" ng-model='created.first' ng-click="created.first === true ? created.model='5 Miles' : created.model=''">5 Miles</ion-checkbox>
  <ion-checkbox  ng-checked="created.model=='10 Miles'" ng-model='created.second' ng-click="created.second === true ? created.model='10 Miles' : created.model=''">10 Miles</ion-checkbox>
  <ion-checkbox   ng-checked="created.model=='15 Miles'" ng-model='created.third' ng-click="created.third === true ? created.model='15 Miles' : created.model=''">15 Miles</ion-checkbox>
  <ion-checkbox   ng-checked="created.model=='20 Miles'" ng-model='created.fourth' ng-click="created.fourth === true ?created.model='20 Miles' : created.model=''">20 Miles</ion-checkbox>
  <ion-checkbox  ng-checked="created.model=='25 Miles'" ng-model='created.fifth' ng-click="created.fifth === true ? created.model='25 Miles' : created.model=''">25 Miles</ion-checkbox>


