  <ion-checkbox  ng-checked="created.model=='1 Minutes'" ng-model='created.first' ng-click="created.first === true ? created.model='1 Minutes' : created.model=''">1 Minutes</ion-checkbox>
  <ion-checkbox  ng-checked="created.model=='5 Minutes'" ng-model='created.second' ng-click="created.second === true ? created.model='5 Minutes' : created.model=''">5 Minutes</ion-checkbox>
  <ion-checkbox   ng-checked="created.model=='30 Minutes'" ng-model='created.third' ng-click="created.third === true ? created.model='30 Minutes' : created.model=''">30 Minutes</ion-checkbox>
  <ion-checkbox   ng-checked="created.model=='60 Minutes'" ng-model='created.fourth' ng-click="created.fourth === true ?created.model='60 Minutes' : created.model=''">60 Minutes</ion-checkbox>
  <ion-checkbox  ng-checked="created.model=='1 Day'" ng-model='created.fifth' ng-click="created.fifth === true ? created.model='1 Day' : created.model=''">1 Day</ion-checkbox>




        