<!--<ion-checkbox  ng-init="created.first=true" ng-checked="created.model=='5'" ng-model='created.first' ng-click="created.first === true ? created.model='5' : created.model=''">5</ion-checkbox>
  <ion-checkbox  ng-checked="created.model=='10'" ng-model='created.second' ng-click="created.second === true ? created.model='10' : created.model=''">10</ion-checkbox>
   <ion-checkbox  ng-checked="created.model=='15'" ng-model='created.third' ng-click="created.third === true ? created.model='15' : created.model=''">15</ion-checkbox>-->
<div data-ng-repeat="data in create.towkenQuantities track by data.id">
  <ion-checkbox ng-checked="data.isSelected" ng-model='data.isSelected' data-ng-change="create.handleTowkenQuantityChange($index, data)">{{data.quantity}}</ion-checkbox>
</div>