  <ion-checkbox  ng-init="created.first=true" ng-checked="created.model=='Shopping'" ng-model='created.first' ng-click="created.first === true ? created.model='Shopping' : created.model=''">Shopping</ion-checkbox>
  <ion-checkbox  ng-checked="created.model=='Restaurent'" ng-model='created.second' ng-click="created.second === true ? created.model='Restaurent' : created.model=''">Restaurant</ion-checkbox>
   <ion-checkbox  ng-checked="created.model=='Saloon'" ng-model='created.third' ng-click="created.third === true ? created.model='Saloon' : created.model=''">Saloon</ion-checkbox>
 



     