<ion-view hide-back-button="true" hide-nav-bar="true" class="bkground">
    <div class="bar bar-header bkground">
        <h1 class="title">Redeem</h1>
    </div>

    <ion-content scroll="false" class="has-header" style="background: #fff;">
        <div class='top padding'>
            <form name="reddem" novalidate>
                <div  id="ListRoundTextbox">
                    <label class="modalLevel">Redeem</label>
                    <div class="list list-inset RoundTextBox">
                        <label class="item item-input">
                          <input type="text" placeholder="Enter redemption code"  ng-model="redeem.code" required>
                        </label>
                    </div>

                </div>
                <div class="MarTop" ng-show="redeem.clicked">
                    <label class="modalLevel">Customer Name</label>
                    <div class="Selectbox color">
                        <div style="width:100%; padding-bottom: 10px;" name="code">{{redeem.cust_name}}</div>
                    </div>
                </div>
                <div class="MarTop" ng-show="redeem.clicked">
                    <label class="modalLevel">Customer Email</label>
                    <div class="Selectbox color">
                        <div style="width:100%; padding-bottom: 10px;" name="code">{{redeem.cust_email}}</div>
                    </div>
                </div>
                <div ng-show='!redeem.clicked'>
                    <button class="btn btn-lg  btn-width signIn bkground white" ng-click="redeem.create()" ng-disabled="reddem.code.$invalid">REDEEM NOW</button>
                </div>
                <div style="padding:30px;" ng-show='redeem.clicked'>
                    <button class="btn btn-lg  btn-width signIn bkground white" ng-click="redeem.another()">REDEEM ANOTHER</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>