<ion-view>
    <ion-content scroll="false">
        <div id="loginContainer">
            <div class="text-center m-t-30">
                <img src="app/assets/img/logo.png" class="ScaleLogo">
            </div>
            <form name="LoginForm" novalidate>
                <div class="list m-t-30">
                    <label class="item item-input loginInputField" style="border-top: none;">
                        <span class="input-label font100">
                            <i class="fa fa-user scaleIcon color"></i>&nbsp;&nbsp;Email
                        </span>
                        <input type="email"  ng-model="forgot.email" name="email" required>
                        </label>
                </div>
                <div class="col-xs-12 no-pad-left-right m-t-15">
                    <button class="btn btn-lg btn-primary btn-width signIn bkground font-14" ng-click="forgot.recover()" ng-disabled="LoginForm.email.$invalid||LoginForm.password.$invalid">Recover Account</button>
                </div>
                <div class="col-xs-12 no-pad-left-right">
                        <a class="btn btn-lg  btn-width cancelButton font-14" href='#/'>Back to login</a>
                    </div>
            </form>
        </div>
    </ion-content>
</ion-view>