<ion-view hide-nav-bar="true">
    <div class="bar bar-header bkground">
        <button class="button button-clear" ng-click="cp.GO('app.profile')"> <i class="ion-ios-arrow-left white"></i> <span class="white" >Back</span></button>
        <div class="title">Setting</div>
    </div>
    <ion-content scroll="false" class="has-header" style="background: #fff;">
        <div class='top padding' id="ListRoundTextbox">
            <form name="PasswordForm" novalidate>
                 <label class="modalLevel">Change Password</label>
                <div class="list list-inset RoundTextBox">
                    <label class="item item-input">
    <input type="password" placeholder="Enter new password" ng-model="cp.newPassword" name="newPassword" ng-minlength="6" required>
  </label>
                </div>
                <div class="list list-inset RoundTextBox">
                    <label class="item item-input">
    <input type="password" placeholder="Enter confirm new password" ng-model="cp.verifyPassword" password-verify="cp.newPassword" name="cpassword" ng-blur="confirmPasswordBlur=true" required>
  </label>
                </div>
                <div>
                    <button class="btn btn-lg  btn-width signIn bkground white" ng-click="cp.changeProfilePassword()" ng-disabled="PasswordForm.password.$invalid||PasswordForm.newPassword.$invalid||PasswordForm.cpassword.$invalid||PasswordForm.cpassword.passwordVerify">UPDATE</button>

                </div>
            </form>
        </div>
    </ion-content>
</ion-view>