<ion-modal-view>
    <ion-header-bar class='bkground'>
        <h1 class="title">Update Password</h1>
        <button class="button icon ion-close-round model-close" on-tap="profile.changepassword.hide()"></button>
    </ion-header-bar>
    <ion-content scroll="false" has-header='true'>
        <div id="loginContainer">
            <form name="PasswordForm" novalidate>
                <div>
                    <label class="item item-input loginInputField" style="    border-top: none;">
                        <span class="input-label font100">
                           New Password
                        </span>
                        <input type="password" ng-model="profile.newPassword" name="newPassword" ng-minlength="6" required>
                        </label>
                    <label class="item item-input loginInputField">
                            <span class="input-label font100">
                               Confirm Password
                            </span>
                            <input type="password"  ng-model="profile.verifyPassword" password-verify="profile.newPassword" name="cpassword" ng-blur="confirmPasswordBlur=true" required>
                            </label>
                </div>
                <div class="col-xs-12 no-pad-left-right m-t-15">
                    <button class="btn btn-lg btn-primary btn-width signIn bkground font-14" ng-click="profile.changeProfilePassword()" ng-disabled="PasswordForm.password.$invalid||PasswordForm.newPassword.$invalid||PasswordForm.cpassword.$invalid||PasswordForm.cpassword.passwordVerify">Update</button>
                </div>

            </form>
        </div>
    </ion-content>
</ion-modal-view>